### WstÄ™p do Uczenia Maszynowego - Projekt
##### Bartosz Chudek 327426

In [2]:
import joblib

import pandas as pd

----

In [3]:
basic_models = joblib.load("all_basic_grids.pkl")

b_m_res = []

for name, (_, score, var) in basic_models.items():
    b_m_res.append([name, score, var])

b_m_res = pd.DataFrame(b_m_res, columns=["name", "score", "var"]).sort_values(by = "score", ascending=False).reset_index(drop=True)

b_m_res

             name     score       var
0         svm_PCA  0.788285  0.026171
1      knn_select  0.776660  0.033445
2         knn_PCA  0.773528  0.023255
3     tree_select  0.772595  0.036183
4        tree_PCA  0.748135  0.039292
5         qda_PCA  0.700844  0.022155
6      svm_select  0.686658  0.030315
7      qda_select  0.636529  0.031978
8   glm_en_select  0.616464  0.045915
9   glm_l1_select  0.611789  0.033803
10     glm_l2_PCA  0.609361  0.051610
11     glm_en_PCA  0.607232  0.052698
12  glm_l2_select  0.606852  0.035173
13     glm_l1_PCA  0.605043  0.056817
14     glm_select  0.604700  0.037449
15     lda_select  0.604026  0.037317
16        glm_PCA  0.602144  0.046820
17        lda_PCA  0.597781  0.045196

In [5]:
ensamble_models = joblib.load("all_ensamble_grids.pkl")

e_res = []

for name, (_, score, var) in ensamble_models.items():
    e_res.append([name, score, var])

e_res = pd.DataFrame(e_res, columns=["name", "score", "var"]).sort_values(by = "score", ascending=False).reset_index(drop=True)

e_res

             name     score       var
0              et  0.872733  0.029274
1              rf  0.841028  0.018532
2            lgbm  0.829319  0.034049
3    tree_bagging  0.825010  0.022200
4             xgb  0.824005  0.020391
5     svm_bagging  0.814795  0.027604
6             gbc  0.787967  0.020824
7     knn_bagging  0.775499  0.030799
8  glm_en_bagging  0.615406  0.042320